<!-- app/views/quizzes/results.html.erb -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 bg-dark text-white p-3 rounded"> <!-- 背景とテキストの色を設定 -->
      <h2 class="text-center">クイズ結果</h2>
      <p class="text-center">あなたの正解数: <%= @correct_answers_count %> / <%= @quiz.questions.count %></p>
      <div class="text-center my-4">
      <% app_name = "辰年なので、爬虫類に興味を持ちましょう！！" %>
      <% app_url = "https://reptile-recommend-df15caef12da.herokuapp.com/" %>
       <% tweet_text = "#{app_name}\n私のクイズのスコア（#{I18n.t('quiz_levels.' + @quiz.level)}）は#{@correct_answers_count} / #{@quiz.questions.count}でした！\n#{app_url}" %>
      <%= link_to "結果をTwitterで共有する", "https://twitter.com/intent/tweet?text=#{CGI.escape(tweet_text)}", target: "_blank", class: "btn btn-primary" %>

      <% score_percentage = (@correct_answers_count.to_f / @quiz.questions.count) * 100 %>

      <% if @correct_answers_count == @quiz.questions.count %>
        <p class="text-warning text-center">おめでとうございます！満点です！画像あげます！使ってね！！</p>
        <% case @quiz.level %>
        <% when 'beginner' %>
          <%= link_to "Beginner Result", beginner_result_path, class: 'text-warning' %>
        <% when 'intermediate' %>
          <%= link_to "Intermediate Result", intermediate_result_path, class: 'text-warning' %>
        <% when 'advanced' %>
          <%= link_to "Advanced Result", advanced_result_path, class: 'text-warning' %>
        <% when 'maniac' %>
          <%= link_to "Maniac Result", maniac_result_path, class: 'text-warning' %>
        <% end %>
      <% elsif score_percentage >= 80 %>
        <p class="text-warning text-center">素晴らしい！あなたは爬虫類の知識が豊富ですね。</p>
      <% elsif score_percentage >= 50 %>
        <p class="text-warning text-center">良い試みです！もう少しで専門家になれますよ。</p>
      <% else %>
        <p class="text-warning text-center">落ち込まないで！！大丈夫！！残念賞あげます！！使ってね！！</p>
        <%= image_tag "image.png", alt: "残念賞！", class: 'img-fluid mx-auto d-block' %>
      <% end %>

   <% @quiz.questions.each do |question| %>
  <div class="row mb-3 bg-dark text-white "> <!-- 背景を暗色にして文字を白色にする -->
    <div class="col-md-4">
      <strong class="text-white font-weight-bold">問題:</strong> <%= question.content %>
    </div>
    <div class="col-md-4">
      <strong class="text-white font-weight-bold">あなたの回答:</strong> <%= @answers[question.id.to_s] ? Choice.find_by(id: @answers[question.id.to_s])&.content : "回答がありません" %>
    </div>
    <div class="col-md-4">
      <strong class="text-white font-weight-bold">正解:</strong> <%= question.choices.find_by(correct: true)&.content %>
    </div>
  </div>
<% end %>