<div class="container mt-5 mb-3">
  <div class="row">
    <div class="col-2 text-center">
   <%= link_to image_tag('image.png', alt: 'キャラクターの説明', class: 'speech-icon'), start_astro_quiz_path %>
  <p class="mt-2 text-warning">アストロ君</p>
</div>
    <div class="col-8">
      <div class="speech-bubble">
        <p class="mb-0 text-warning"> 注意！このクイズには、私の個人的な意見が反映されているよ！！頑張って調べたけど、間違いがあるかも知れないから、他の情報源もチェックしてね。クイズで満点を取ったら、結果ページで素敵な画像が待ってるよ！頑張ってね！</p>
      </div>
    </div>
  </div>
 
  <!-- ボタンの幅を親コンテナの全幅に設定 -->
   <div class="col-8 offset-2 mt-1">
      <%= link_to 'とりあえず爬虫類のことよくわからない人向けクイズです！！（初級）', beginner_quiz_path, class: 'btn btn-primary d-block my-2' %>
    </div>
    <div class="col-8 offset-2 mt-3">
      <%= link_to '爬虫類が結構好きな人向けクイズです！！（中級）', advanced_quiz_path, class: 'btn btn-success d-block my-2' %>
    </div>
    <div class="col-8 offset-2 mt-3">
      <%= link_to 'マニアック！！な問題を出します！！クリアできるかな？？（上級）', maniac_quiz_path, class: 'btn btn-danger d-block my-2' %>
    </div>
    <div class="col-8 offset-2 mt-5">
      <%= link_to '飼育を考えてる人見てみてね！！', 'https://www.gex-fp.co.jp/exoterra/breed/', class: 'btn btn-secondary d-block my-2' %>
    </div>
  </div>
</div>